@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.about {
    margin: auto;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
    "header header"
    "intro intro"
    "work education";
    grid-row-gap: 20px;
    font-family: 'Poppins';
}

.about-header-container {
    grid-area: header;
}

.intro-container {
    grid-area: intro;
}

.work-container {
    grid-area: work;
    border: solid white;
}

.education-container {
    grid-area: education;
    border: solid white;
}

.timeline-container {
    background-color: gray;
}

