@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.connect {
    margin: auto;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    grid-template-areas: 
    "header"
    "contact-info";
    font-family: 'Poppins';
}

.connect-header {
    grid-area: header;
}

.connect-info-container {
    grid-area: contact-info;
}

.info-block-container {
    margin: auto;
    height: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "email location phone"
    "linkedin website github";
}

.info-block {
    margin: auto;
    border: solid #353535 2px;
    border-radius: 20px;
    text-align: center;
    width: 240px;
    height: 140px;
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas: 
    "icon"
    "type"
    "description";
}

.icon-container {
    grid-area: icon;
    padding: 10px;
}

.type-container {
    grid-area: type;
    font-size: 18px;
    font-weight: 500;
}

.description-container {
    grid-area: description;
    font-weight: 300;
    color: white;
}

.contact-link {
    color: white;
}

.contact-link:link {
    text-decoration: none;
  }
  
  .contact-link:visited {
    text-decoration: none;
  }
  
  .contact-link:hover {
    text-decoration: none;
  }
  
  .contact-link:active {
    text-decoration: none;
  }
  

#email-info {
    grid-area: email;
}

#location-info {
    grid-area: location;
}

#phone-info {
    grid-area: phone;
}

#linkedin-info {
    grid-area: linkedin;
}

#website-info {
    grid-area: website;
}

#github-info {
    grid-area: github;
}