@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.home {
    
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 65% auto;
    grid-template-areas: 
    "intro photo"
    "download photo";
    padding: 80px;
    font-family: 'Poppins';
    justify-content: space-around;
}

.introduction {
    align-self: intro;
}

.full-portrait-container {
    align-self: photo;
    user-select: none;
}

#full-portrait {
    width: 400px;
    border-radius: 100px;
}

#name {
    font-size: 120%;
    color: #9282F5;
}

#occupation {
    font-size: 120%;
    color: #9282F5;
}

.download-resume {
    align-self: download;
    text-align: center;
}

.download-container {
    margin: auto;
    background-color: #9282F5;
    width: 200px;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    padding: 1px;
}