@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.projects {
    margin: auto;
    height: 100%;
    padding-left: 6%;
    padding-right: 6%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    grid-template-areas: 
    "header"
    "projects";
    font-family: 'Poppins';
}

.header-container {
    grid-area: header;
}

.projects-container {
    grid-area: projects;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-container {
    width: 280px;
    height: auto;
    padding: 20px;
}

.project {
    border-radius: 10px;
    background-color: #2F2F2F;
    border: solid 1px #666666;
    margin: auto;
    padding: 10px;
    text-align: center;
}
