.reviews-container {
    margin: auto;
    height: 100%;
    padding-left: 6%;
    padding-right: 6%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "header"
    "reviews";
    font-family: 'consolas';
}

.header-container {
    grid-area: header;
}

.reviews-page-container {
    grid-template-areas: reviews;
    padding: 3%;
    display: grid;
    grid-template-columns: a;
    grid-template-rows: 30px auto;
    grid-template-areas: 
    "tabs"
    "reviews-page";
    font-family: 'consolas';
}

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.reviews-page {
    grid-area: reviews-page;
    padding: 5%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 1px #9282F5;
    border-right: solid 1px #9282F5;
    border-left: solid 1px #9282F5;
    box-shadow: 6px 6px 6px gray;
}

.tab {
    padding: 10px;
    width: 15%;
    cursor: pointer;
    user-select: none;
    border-right: solid 1px #999999;
    border-left: solid 1px #999999;
    border-top: solid 1px #999999;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.reviews {
    justify-content: space-around;
    flex-wrap: wrap;
}

.review {
    margin: 20px;
    padding: 20px;
    width: 600px;
    height: 200px;
    display: grid;
    grid-template-columns: 160px auto 20%;
    grid-template-rows: 20% auto 20%;
    grid-template-areas: 
    "image title date"
    "image text text"
    "rating text text";
    border-radius: 20px;
    border: solid #999999 1px;
    background-color: rgb(238, 238, 238);
}

.review-img {
    width: 140px;
    height: 140px;
    margin: 10px;
    border-radius: 50%;
}

.review-title {
    grid-area: title;
    margin: 20px;
}

.review-date {
    grid-area: date;
    color: gray;
}

.review-image {
    grid-area: image;
    text-align: center;
}

.review-text {
    grid-area: text;
    margin: 20px;
}

.review-rating {
    grid-area: rating;
    text-align: center;
}