
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #272727;
  color: white;
}

#nav {
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 60px; /* Disable for slide in from top */
  transition: 0.5s; 
}

#nav.visible {
  height: 100%; 
  width: 20%;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #202020; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  border: solid #303030;
}

#main {
  height: 100%; 
  width: 100%;
  background-color: #272727;
  position: fixed;
  right: 0;
  transition: 0.5s; 
  border: solid white;
  text-align: center;
}

#main.short {
  width: 80%;
}


