
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #272727;
  color: white;
}

.nav-container {
  height: 100%;
  width: 17%; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #202020; 
  border: solid #303030;
  padding-top: 60px; /* Disable for slide in from top */
}

.main-container {
  height: 100%; 
  width: 83%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #272727;
  text-align: center;
  padding-top: 200px;
}

#construction {
  width: 200px;
  height: 150px;
  top: 20%;
  background-color: #fce101;
  color: black;
  border: dashed black;
  text-align: center;
  margin: auto;
  
}

