
.App {
  background-color: #272727;
  color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "navigation home";
}

.nav-container {
  align-self: navigation;
  background-color: #202020; 
  border-right: solid #303030;
}

.home-container {
  align-self: home;
  background-color: #272727;
  text-align: center;
  padding-top: 200px;
}


