.home {
    
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "intro photo";
    padding: 100px;
}

.introduction {
    align-self: intro;
}

.full-portrait-container {
    align-self: photo;
}

#full-portrait {
    width: 400px;
    border-radius: 100px;
}

.bigger {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}