
.nav {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 250px 50px auto;
  grid-template-areas: 
  "picture"
  "logo"
  "folders";
  user-select: none;
}

.portrait-container {
  align-self: picture;
  text-align: center;
  padding: 30px;
}

.portrait {
  max-width: 100%;
  border-radius: 50%;
  border: solid white;
}

.logo-container {
  align-self: logo;
  text-align: center;
}

#logo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

#logo:hover {
  cursor: pointer;
}

.folder-container {
  align-self: folders;
}

.folders {
  margin: auto;
  width: 200px;
  list-style-type: '>';
  list-style-position: inside;
  text-align: left;
  padding: 3px;
  font-family: Cascadia Code thin;
}

.folder {
  
  padding: 3px;
}

.folder:hover {
  background-color: #303030;
  cursor: pointer;
}


.subfolder {
  list-style-type: none;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  
}