@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.nav {
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 240px 400px auto;
  grid-template-areas: 
  "picture"
  "panel"
  "socials";
  user-select: none;
}

.portrait-container {
  grid-area: picture;
  text-align: center;
  padding-top: 20px;
}

.portrait {
  margin: auto;
  max-width: 80%;
  border-radius: 50%;
  border:solid 2px #999999;
}


#logo:hover {
  cursor: pointer;
}

.nav-link:link {
  text-decoration: none;
}

.nav-link:visited {
  text-decoration: none;
}

.nav-link:active {
  text-decoration: none;
}

.nav-link {
  font-family: 'consolas';
  font-weight: 500;
  width: 40%;
  margin: auto;
  color: black;
  transition: 0.3s;
  border-bottom: 2px solid #999999;
}

.nav-link:hover {
  font-weight: 600;
  width: 60%;
  transition: 0.3s;
  border-bottom: 2px solid #9282F5;
}

.panel {
  color: black;
  text-align: center;
}

.panel-container {
  grid-area: panel;
  padding: 30px;
  display: grid;
  color: black;
}

.socials-container {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.icon-container {
  padding: 10px;
}
